*{
  box-sizing: border-box; 
}

header{
  max-width: 500px;
}
.error{
  color: red;
  text-align:center;
}
form{
  text-align: center;
  font-family: 'Fira Code', monospace;
  color: aliceblue;
  font-size: .7rem;
}
body{
  
  background: black;
  color: white;
} 
.submit-button{
  font-size: 1.1rem;
  style: none;
  width: 300px;
  border: solid 1px red;
  background-color: #333333;
  font-family: 'Fira Code', monospace;
  text-align: center;
  color: red;
  height: 30px;
}
#text-input{
  background-color:transparent;
  color: white;
  text-align: center;
  border: none;
  border-bottom: solid 1px aliceblue;
  width: 300px;
  height: 30px;
}


.poster{
  height: 210px;
  clear: right;
  border: solid 2pt red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
  

.logo{
  width: 100%;
  height: 210px;

}
.trailer {
  color: red;
  position:relative;
  bottom: 15px;
  display: block;
  text-align:center;
    
    
  
}
.ratings{
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: 10px;
  left: 5px;
  padding: 10px;
  
}
.title{
  clear: right;
  text-align:center;
  
}
.important{
  color: red;
}
.results{
  background: black;
  color: aliceblue;
  
}
@media screen and (min-width: 482px) {
  header{
    margin-left: auto;
    margin-right: auto;
  }
  .ratings{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    bottom: 30px;
    left: 15px;
    
    
      
  }
  .movieBox{
    display: block;
    height: 250px;
  }
  
  
  .poster{
    display: inline-block;
    float: left;
    position: relative;
    bottom: 20px;
    width: 144px;
    
    
    
  
  }
  form{
    font-size: .9rem;
  }
  .title{
    text-align:left;

  }
  .trailer{
    float:right;
    text-align:none;
    display:inline-block;
    bottom: 42px;
    margin-right: 15px;

  }
  
}
  
  
  
  



@media screen and (min-width: 700px) {
  
  header{
    margin-left: auto;
    margin-right: auto;
     
  }
  .display{
    display: inline-block;

  }
  .results{
  margin-bottom: 0px;
  

  }
  

.container{
  display: inline-block;
  width: 45%;
  padding: 5px;
  height: 325px;
  margin-left: 10px;
  vertical-align: top;
  
}
.poster{
  bottom: 10px;
  height: 200px;
  width: 134px;
}  
  
 
.ratings{
  font-size: .9rem;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 10px;
    
    
}
.title{
  display: inline-block;
}
.trailer{
  bottom: -22px;
  margin-right: 20px;
}
.important{
    text-align: left;
}
  
  
}
@media screen and (min-width: 1024px) {
  .results{
    margin-left: 10%;
  }
}

  

